body {
  margin: 10px 150px;
  width: 980px;
  height: auto;
}


#line {
  /* max-width: 920px; */
  margin-right: 75px;
  /* position: relative; */
}
header {
  width: 980px;
}


h1 {
  font-size: 2em;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 2.5em;
  font-weight: 800;
  font-family: ;
  margin-top: 10px;;
}

h3 {
  font-size: 1.1em;
  width: 80%;
  word-wrap: break-word;
}

h4 {
  color: rgb(173, 171, 171)
}
h6 {
  font-size: 3em;;
}


span {
  display: inline-block;
  margin-top: 5px;
}

nav {
  margin: 10px;
  float: right;
}

span img {
  width: 110%;
  position: center;
}

#print {
  display: inline-flex;
  width: 15px;
  height: 15px;

}


p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-indent: 30px;
}

label {
  font-size: 25px;
  font-family: sans-serif;
}

#notepad {
  z-index: -1;
  position: absolute;
}

#columnOne {
  position: absolute;
  margin-top: 60px;
  margin-left: 75px;
}

#columnTwo {
  margin-left: 500px;
  margin-top: 80px;
  word-wrap: break-word;
}

.line-through {
  text-decoration: line-through
  
}


footer {
  margin-top: 125px;
}

#vanessa {
  display: inline-block;
 
}
#shareRecipe {
  background-color: rgb(138, 67, 55);
  color: whitesmoke;
  width: 150px;
  height: 30px;
  padding-top: 15px;
  text-align: center;
  float: right;
  margin-top: 25px;
}

#silverware {
  position: absolute;
  width: 980px;
}
hr {
  /* position: absolute; */
  margin-top: 50px;
  /* z-index: ; */
}

#logo {
  margin-left: 50%;
  margin-top: 30px;
  z-index: 3;
  /* margin-top: 5px; */
}


#copyRight {
  text-align: center;
}

