body {
  margin: 10px 150px;
  width: 980px;
  height: auto;
}

#line {
  /* max-width: 920px; */
  margin-right: 75px;
  /* position: relative; */
}
header {
  width: 980px;
}
h1 {
  font-size: 2em;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 2em;
  font-weight: 800;
  font-family: sans-serif;
  margin-top: 10px;;
}

h6 {
  font-size: 3em;;
}


span {
  display: inline-block;
  margin-top: 25px;
}

nav {
  margin: 10px;
  float: right;
}

span img {
  width: 110%;
  position: center;
}

#print {
  float: right;
  /* display: inline-block; */
}

h4 {
  color: rgb(173, 171, 171)
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-indent: 30px;
}

#notepad {
  z-index: -1;
  position: absolute;
}

#columnOne {
  position: absolute;
  margin-top: 60px;
  margin-left: 75px;
}

#columnTwo {
  margin-left: 500px;
  margin-top: 80px;
}

footer {
  margin-top: 200px;
}

#vanessa {
  display: inline-block;
 
}
#shareRecipe {
  background-color: red;
  color: whitesmoke;
  width: 150px;
  height: 30px;
  padding-top: 15px;
  text-align: center;
  float: right;
  margin-top: 25px;
}

#silverware {
  position: absolute;
  width: 980px;
}
hr {
  /* position: absolute; */
  margin-top: 50px;
  z-index: -1;
}

#logo {
  margin-left: 50%;
  margin-top: 30px;
  z-index: 2;
  /* margin-top: 5px; */
}


#copyRight {
  text-align: center;
}

